<div class="drawn-container">
    <hgroup class="page-title-container">
        <h2 class="page-title">Sorteio</h2>
        <h3 class="records-count">Registros: {{info.qttEntries}}</h3>
        <h3 class="records-date">Consultado em: {{ info.data | dateFilter }}</h3>
    </hgroup>
    <button class="drawn-button" ng-click="drawn()">Sortear</button>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="modal-body-content modal-body-id"><span class="tag-label">Id: </span></p>
                <p class="modal-body-content modal-body-name"><span class="tag-label">Nome: </span></p>
                <p class="modal-body-content modal-body-city"><span class="tag-label">Cidade: </span></p>
                <p class="modal-message"></p>
            </div>
        </div>
    </div>
</div>