<div class="entry-container">
    <hgroup class="page-title-container">
        <h2 class="page-title">Adicionar Registros</h2>
        <h3 class="page-descri">Faça upload de um arquivo JSON com seus registros.</h3>
        <h3 class="records-count">Registros: {{info.qttEntries}}</h3>
        <h3 class="records-date">Consultado em: {{ info.data | dateFilter }}</h3>
    </hgroup>
    <input type="file" name="dataFile" id="arquivoInput" />
    <button class="upload-button" name="submit" ng-click="submit()">Adcionar</button>
    <div id="mensagem"></div>
</div>