<nav class="navbar stick-top navbar-toggleable-md bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    <a class="navbar-brand" href="#/">SortJS</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#/entry">Adicionar Registro</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#/drawn">Sorteio</a>
            </li>
        </ul>
        <div class="social">
            <a href="https://gitlab.com/gabriel-barreto/sortjs" class="nav-link"><i class="git-icon"></i> Official Repo</a>
        </div>
    </div>
</nav>