<div class="home-container">
    <hgroup>
        <h1 class="project-title">SortJS</h1>
        <h3 class="project-descri">Faça seus sorteios com toda a classe do JavaScript!</h3>
    </hgroup>
    <p class="project-content">Informe seus registros através de um JSON.</p>
    <p class="project-content">Resultado Instantâneos.</p>
</div>