.drawn-container {
    @extend .col-12;
    padding: 5em;
}

.drawn-button {
    @extend .btn;
    @extend .btn-primary;
    font-size: 1.6em;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.modal-body-content {
    border: 0;
    line-height: 2em;
    text-align: justify;
    font-size: 1.8em;
    font-weight: 400;
    padding-left: 1em;
    padding-top: 0;
    margin: 0;
    background: transparent;
    span {
        font-size: 1em;
        font-weight: 600;
    }
}

.modal-title {
    padding: 0.25em;
    font-size: 2.2em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.05);
    @media screen and(max-width: 720px) {
        text-align: center;
    }
}

#header-icon {
    border: 0;
    padding: 0;
    font-size: 2.6em;
    color: rgb(255, 255, 255);
    @media screen and(max-width: 720px) {
        padding-left: 0;
    }
    @media screen and(min-width: 760px) {
        padding-left: 0.6923em;
    }
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.15);
}

.close span {
    font-size: 18px;
    @media screen and(max-width: 720px) {
        padding-right: 0.3em;
    }
    @media screen and(min-width: 760px) {
        padding-right: 1em;
    }
}

.modal-header {
    border: 0;
}

.success {
    background-color: #27ae60;
}

.raffle {
    background-color: #3498db;
}

.error {
    background-color: #c0392b;
}

.modal-content {
    color: #000;
    border: 0;
}

.modal-message {
    padding-left: 0;
    text-align: center;
    font-size: 2em;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 1em;
}