.footer-container {
    margin-top: 5em;
    margin-bottom: 5em;
    @extend .col-12;
    @media screen and(max-width: 960px) {
        padding: 2em;
    }
}

.footer-content {
    text-align: center;
    font-size: 1.8em;
    font-weight: 400;
    line-height: 1.7em;
    a {
        font-size: 1em;
        color: #2980b9;
        &:hover {
            text-decoration: none;
            transition: 0.5s all ease-in-out;
            color: #f1c40f;
        }
    }
}