.entry-container {
    @extend .col-10;
    padding: 5em;
}

.upload-button {
    @extend .btn;
    @extend .btn-primary;
    font-size: 1.6em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    -webkit-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.35);
}

.records-count,
.records-date {
    @extend .page-descri;
}

.records-date {
    margin-bottom: 1.25em;
}

input {
    button {
        @extend .btn;
        @extend .btn-primary;
    }
}