.navbar {
    background-color: #2980b9;
    color: #ffffff;
    padding: 1.25em;
    -webkit-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.35);
    display: flex;
    justify-content: center;
}

.navbar-toggler-icon {
    @extend .fa;
    @extend .fa-bars;
    font-size: 2em;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-brand {
    color: #ffffff;
    font-size: 1.65em;
}

.navbar-nav li>a {
    color: #ffffff;
    font-weight: 300;
    font-size: 1.65em;
}

.nav-item {
    @media screen and(min-width: 1024px) {
        padding-left: 0.75em;
        padding-right: 0.75em;
    }
}

.nav-item:hover a {
    transition: 0.35s all ease-in-out;
    color: #2c3e50;
}

.navbar-brand:hover {
    transition: 0.35s all ease-in-out;
    color: #FFFFFF;
}

.nav-link.disabled {
    color: #163550;
}

.social {
    a {
        color: #ffffff;
        font-size: 1.65em;
        &:hover {
            transition: 0.35s all ease-in-out;
            color: #2c3e50;
        }
    }
    @media screen and(min-width: 1024px) {
        display: block;
        float: right;
    }
    @media screen and(max-width: 960px) {
        margin: 0;
        padding: 0;
        text-align: left;
        a {
            padding-left: 0.15em;
        }
    }
    .git-icon {
        @extend .fa;
        @extend .fa-github;
        margin-right: 0.35em;
    }
}