.home-container {
    @extend .col-12;
    padding: 5em;
}

.project-title {
    font-size: 2.8em;
    font-weight: 600;
    letter-spacing: 0.015em;
    margin-bottom: 0.35em;
}

.project-descri {
    font-size: 2em;
    font-weight: 300;
    margin-bottom: 1.5em;
}

.project-content {
    font-size: 1.4em;
    margin-bottom: 0.5em;
}