* {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}

*::before,
*,
*::after {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.page-title {
    font-size: 2.5em;
    font-weight: 600;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.page-descri {
    font-size: 1.6em;
    font-weight: 400;
    margin: 0;
    line-height: 2em;
    color: #95a5a6;
}

#input-message {
    font-size: 1.5em;
    margin-bottom: 1em;
    -webkit-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.15);
}